.bangalorHeroContainer {
  background-image: url("https://storage.googleapis.com/msgsndr/Poa647Oe1YUX8DVrwFdy/media/675be1c16876bddea2dd93cc.png");
  background-repeat: repeat;
  background-size: fill;
  border: 1px solid #c4c4c4;
  border-radius: 0 0 100px 100px;
  border-top: 0;
}

.bussinessCard {
  background-image: url("https://storage.googleapis.com/msgsndr/Poa647Oe1YUX8DVrwFdy/media/67593d7c3c5cd52007b14a5a.png"),
    linear-gradient(180deg, #2b233896 0%, #0a01188a 100%);
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
}
.VlaueContainer {
  background-image: url("https://storage.googleapis.com/msgsndr/Poa647Oe1YUX8DVrwFdy/media/675be1c16876bddea2dd93cc.png");
  background-repeat: repeat;
  background-size: fill;
}

.css-1808mag-MuiPaper-root-MuiAccordion-root {
  background: transparent !important;
  color: #e4e1ea !important;
}

.css-7iurs7-MuiAccordionSummary-content.Mui-expanded {
  margin: 0 !important;
}

.css-jineix-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 40px !important;
}
.faqCard {
  background-color: #090319 !important;
}



@media (max-width: 768px) {
  .bangalorHeroContainer {
    border-radius: 0 0 50px 50px;
  }
}
